
//- Post Info
//-     Just contains the date and if it was from
mixin postInfo(item)
    .post-info
        a
        != full_date(item.date, config.date_format)
        if item.from && (is_home() || is_post())
            a.post-from(href=item.from, target='_blank', title=item.from)
                != __('translate_original')

mixin postTitle(title)
    if title
        != title
    else
        != __('untitled')

//- Tags
mixin tags(tags)
    - tags.each(function(tag) {
        span.cursor.tagname(onclick="javascript:window.location.pathname = '" + tag.path + "'")
            != tag.name
    - })

mixin categories(categories)
    - categories.each(function(category) {
        a(href=url_for(category.path))
            != category.name
    - })

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        div.post-title-link.cursor(onclick="javascript:window.location.pathname = '" + item.path + "'")
                            +postTitle(item.title)

                    // pre #{ JSON.stringify(Object.keys(item))}
                    // Render tags on the post

                    // +categories(item.categories)
                    +tags(item.tags)
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href=url_for(item.path))
                        != __('read_more')
        - })

//- Archive Page (tags, categories, etc)
mixin postList()
    .archive
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year
                    != year
            .post-item
                +postInfo(item)
                div.post-title-link.cursor(onclick="javascript:window.location.pathname = '" + item.path + "'")
                    +postTitle(item.title)
        - })



//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                +postTitle(item.title)
            // +categories(item.categories)
            +tags(item.tags)
            +postInfo(item)
            .post-content
                != item.content

//- Page Title for archive, tags, categories, etc --> used with postList()
mixin collectionPageTitle()
    - var pageType = page.path.substring(0, page.path.indexOf("/"));
    - var title = "";
    - var subTitle = "";
    - if (pageType === "archives") {
        - title = "Posts"
    - }
    - if (pageType === "tags") {
        - subTitle = page.path.substring(pageType.length + 1);
        - subTitle = subTitle.substring(0, subTitle.indexOf("/"));
        - title = "#" + subTitle;
    - }
    

    h1.collection-title #{title}
    if pageType !== "archives"
        div.cursor.alt-color(onclick="javascript:window.location.pathname = '/archives';") Back to all posts