meta(charset='utf-8')
meta(name='X-UA-Compatible', content='IE=edge')

title
    block site_title
        = config.title

block description
    meta(name='description', content=config.description ? config.description : __('meta_description'))

if page.layout == "post"
    meta(property="og:image" content=page.metaimg)

//- script.
//-   console.log(!{JSON.stringify(page.layout)})

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-75700925-1")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-75700925-1');

meta(name='viewport', content='width=device-width, initial-scale=1')

link(rel='icon', href=url_for(theme.favicon))
link(rel='stylesheet', href='https://unpkg.com/nanoreset/nanoreset.min.css')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
link(rel='stylesheet', href=url_for('css/theme.css'))
link(rel='stylesheet', href=url_for('css/style.css'))
link(href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i", rel="stylesheet")

link(rel='search', type='application/opensearchdescription+xml', href=url_for('atom.xml'), title=config.title)
