doctype
html(lang=config.language)
    head
        include head.pug
    body
        .wrap#barba-wrapper
            header
                h1.branding
                    a(href="/", title=config.title, onclick="javascript:window.location.reload()")
                        if theme.logo
                            img.logo-image(src=url_for(theme.logo), alt='logo')
                        else
                            = config.title
                include nav.pug
                pre #{ JSON.stringify(Object.keys(page)) }
                pre #{ JSON.stringify(page.canonical_path) }
            .barba-flex
                // Sidebar + Page Content
                block pagecontent
        include scripts.pug