//-
    div

    
        
div.mobile-menu-container
    img#mobile-menu(src="/svg/menu-button.svg" onclick="toggleOpen()")
    
ul.nav.nav-list#nav-list.closed(data-open="false")
    each value, key in theme.menu
        li.nav-list-item
            if ~value.indexOf('blog')
                - var type = value.indexOf('.html') === -1 ? 'no-barba' : ''
                a.nav-list-link(href=url_for(value) class=type)
                    != key.toUpperCase()
            else
                - var re = /^(http|https):\/\/*/gi;
                - var tar = 1 == 2 ? "_blank" : "_self"
                - var type = value.indexOf('.html') === -1 ? 'no-barba' : ''
                a.nav-list-link(href=url_for(value) class=type)
                    != key.toUpperCase()
    each item in [{ name: 'music', url: 'music'}]
            li.nav-list-item.alt-nav-list-items(onclick="javascript:window.location.href = '" + item.url + "';")
                a.nav-list-link(target=tar class=type)
                    != item.name.toUpperCase()